{% extends '@App/layout.html.twig' %}

{% block body %}
<h1>Categories</h1>
<p>&nbsp;</p>
<form novalidate>
    <div class="form-group">
    <div class="row">
        <div class="col-md-4">
        {{ form_label(form.category) }}
        {{ form_widget(form.category, {'attr':{'class':'form-control'}}) }}
        </div>
    </div>
    </div>
</form>
{% block javascripts %}
  {{ parent() }}
  <script type="text/javascript" src="{{ asset('bundles/app/js/categoryNewsList.js') }}"></script>
{% endblock javascripts %}
{% endblock body %}
